<!DOCTYPE html>
<html lang="pt" xmlns:th="http://thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventos App</title>
</head>
<body>
    <h1>Registo de eventos:</h1>
    <form method="post">
        Nome:<input type="text" value="" name="nome">
        Local:<input type="text" value="" name="local">
        Data:<input type="date" value="" name="data">
        Hora:<input type="time" value="" name="hora">

        <button type="submit">Registar</button>
    </form>
</body>
</html>